$buttonBlue: #637591;
$buttonBlueH: #8290a7;
$buttonBlueL: #4f5d74;

$successGreen: #15bf81;
$successGreenH: #43cb9a;
$successGreenL: #12ab74;

$linkBlue: #0095ff;
$linkBlueH: #32aaff;
$linkBlueL: #0086e5;

$textBlue: #4d5f7a;

$errorRed: #ff6666;
$errorRedL: #cc5151;
$errorRedH: #ff7575;

$borderGrey: #ced2db;
$grey2: #e1e5eb;
$grey1: #edf0f5;
$grey5: #848ea1;

$pressedShadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .2),
  inset 0px 0px 1px 1px rgba(0, 0, 0, .2);
