.form-modal {
  width: 320px;
  padding:30px;
  border-radius: 8px;
  background-color: white;

  input {
    margin-top: 42px;
  }

  button {
    margin-top: 42px;
  }

  h2 {
    font-size: 2em;
  }
}
