.form-modal {
  width: 320px;
  padding: 28px;
  border-radius: 6px;
  background-color: white;

  input {
    margin-top: 36px;
  }

  button {
    margin-top: 36px;
  }

  h2 {
    font-size: 2em;
  }
}
