@import '../../stylesheets/colors';

body {
  h1 {
    line-height: 42px;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 100;
    float: left;
    color: $grey5;
  }

  h3 {
    line-height: 18px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 300;
    color: $textBlue;
    text-decoration: underline;
  }
}
