.lightbox-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.lightbox-content {
  display: inline-block;
  position: relative;
  font-size: 1em;

  .lightbox-close {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 20px;
    right: 20px;
    display: inline-block;
    background-color: red;
  }
}
