@import '../../stylesheets/colors.scss';
@import '../../stylesheets/mixins.scss';

.radioButton {
  label {
    padding: 0px 12px 0px 5px;
    color: $textBlue;
    font-family: sans-serif;
    font-size: 11px;
    line-height: 32px;
    cursor: pointer;
  }
}
