@import '../../stylesheets/colors.scss';
@import '../../stylesheets/mixins.scss';

.materialTable {
  @include layer1Shadow();
  width: 100%;
  white-space: nowrap;
  text-align: left;
  font-family: sans-serif;



  thead {
    background-color: $grey1;
    tr {
      line-height: 24px;
      color: $grey5;
    }
  }
  tbody {
    tr {
      height: 48px;
      line-height: 48px;
      cursor: pointer;
      &:hover {
        background-color: $grey2;
      }
    }
  }

  th, td {
    display: table-cell;
    width: auto;

    border-bottom: 1px solid #e5e5e5;

    &:first-child {
      padding-left: 24px;
    }

    &:last-child {
      padding-right: 24px;
    }
    &.edge.data {
      padding-right: 24px;
    }
    &.right.data {
      padding-right: 36px;
      text-align: right;
    }
  }

  th {
    font-size: 11px;
  }

  td {
    font-weight: 400;
    &.data {
      font-weight: 100;
      font-size: 1.7em;
      color: $grey5;
    }
  }
}
