@import '../../stylesheets/colors.scss';

.text-area {
  outline: none;
  padding: 0 4px;
  height: 36px;
  line-height: 36px;
  font-size: 1em;
  font-weight: 100;
  font-family: sans-serif;
  border: none;
  border-radius: 3px;
  width: 200px;
  box-shadow: inset 0px 0px 0px 1px $borderGrey;
  &:focus {
    box-shadow: inset 0px 0px 0px 1px $linkBlue;
  }
  &:hover:not(:focus) {
    box-shadow: inset 0px 0px 0px 1px $grey5;
  }
}
