@import '../../stylesheets/colors';

.top-bar {
  height: 36px;
  box-shadow: inset 0px -1px 0px 0px $borderGrey;
  position: relative;
  padding: 4px;

  .icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-color: $borderGrey;
  }

  .button + .button {
    margin-left:4px;
  }
}
